<link rel="stylesheet" type="text/css" href="vendor/virtual_select/virtual-select.min.css"></link>
<script src="vendor/virtual_select/virtual-select.min.js"></script>
<script src="vendor/jquery/jquery-3.7.1.min.js"></script>

<link rel="stylesheet" href="vendor/multi-select-tag/css/multi-select-tag.css">
<script src="vendor/multi-select-tag/js/multi-select-tag.js"></script>

<style>
    .vscomp-toggle-button {
        padding: 10px 30px 10px 10px;
        border-radius: 5px;
    }

    #multipleSelect {
        min-width: 100%;
        max-width: 100%;
    }

    #divFormulario {
        border-radius: 10px;
        padding: 5px;
        box-shadow: 8px 8px 8px 8px #B9B9B9;
        position: relative;
        margin-top: 5%;
        background-color: #fff;
    }
    
    #div_span_logo {
        margin-bottom: 5px;
    }

    #span_logo {
        color: blue;
        background-color: #FAE8CD;
        border-radius: 5px;
        padding: 5px;
    }

    #i_remove_logo {
        font-size: 14px;
        border: 1px solid #d9534f;
        background-color: #d9534f;
        color: #ffffff;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
    }

    #i_remove_logo:hover {
        background-color: #c9302c;
        border-color: #c9302c;
        cursor: pointer;
    }

    label {
        font-weight: bold;
    }

    #div_logo_campeonato {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #div_logo_campeonato img {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #row_times {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    #row_times .multipleSelect {
        width: 100%;
        min-width: 100%;
    }

    #div_x {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #div_x h1 {
        font-size: 50px;
    }

    .logo_time {
        height: 100px;
        padding: 0;
    }

    .logo_time img {
        width: 100%;
        height: 90%;
        margin: 0;
        padding: 0;
    }
</style>

{% include 'estrutura.html' %}

<div class="container" id="divFormulario">
    <h2 align="center">{{ p|capitalize }} (Alteração)</h1>

    <form method="post" action="?p=cadastro&op=salvaAlteracao&tab={{ p }}&id={{ id }}" enctype="multipart/form-data">
        <div class="container">
            {% if p == 'categorias' %}

                <div class="row g-2">
                    <div class="col">
                        <label for="str_categoria" class="form-label">Categoria</label>
                        <input type="text" class="form-control" id="str_categoria" name="str_categoria" value="{{ dados.str_categoria }}" required>
                    </div>
                </div>

            {% elseif p == 'mercados' %}

                <div class="row g-2">
                    <div class="col">
                        <label for="str_mercado" class="form-label">Mercado</label>
                        <input type="text" class="form-control" id="str_mercado" name="str_mercado" required value="{{ dados.str_mercado }}" required>
                    </div>
                    <div class="col">
                        <label for="str_categoria" class="form-label">Categoria</label>
                        <select class="form-select" aria-label="Default select example" name="id_categoria" required>
                            <option value="">Selecione a Categoria</option>

                            {% for c in categorias %}
                                {% if c.id == dados.id_categoria %}
                                    <option value="{{ c.id }}" selected>{{ c.str_categoria }}</option>
                                {% else %}
                                    <option value="{{ c.id }}">{{ c.str_categoria }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

            {% elseif p == 'campeonatos' %}

                <div class="">
                    <div class="col">
                        <label for="str_campeonato" class="form-label">Campeonato</label>
                        <input type="text" class="form-control" id="str_campeonato" name="str_campeonato" value="{{ dados.str_campeonato }}" required>
                    </div>
                    <div class="col">
                        <label for="str_categoria" class="form-label">Categoria</label>
                        <select class="form-select" aria-label="Default select example" name="id_categoria" required>
                            <option value="">Selecione a Categoria</option>

                            {% for c in categorias %}
                                {% if c.id == dados.id_categoria %}
                                    <option value="{{ c.id }}" selected>{{ c.str_categoria }}</option>
                                {% else %}
                                    <option value="{{ c.id }}">{{ c.str_categoria }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    {% if dados.str_logo != '' %}
                        <div id="div_logo_opcao_1">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">Logo</label>
                                <input type="hidden" name="str_logo" id="str_logo" value="{{ dados.str_logo }}"></input>
                                
                                <br>
                                
                                <div id="divImgLogo" style="display: inline-block; border: 1px solid black; padding: 2px; border-radius: 5px;"><img src="{{ dados.str_logo }}"></div>
                                <div id="div_span_logo" style="display: inline-block;">
                                    <i class="fas fa-trash" id="i_remove_logo" onclick="alteracao_logo()"></i>
                                </div>
                            </div>
                        </div>
                        <div id="div_logo_opcao_2" style="display: none;">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">Logo</label>
                                <input class="form-control form-control-sm" id="formFileSm" type="file" name="str_logo" onchange="exibe_logo(event);">
                            </div>
                        </div>
                    {% else %}
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label">Logo</label>
                            <input class="form-control form-control-sm" id="formFileSm" type="file" name="str_logo" onchange="exibe_logo(event);">
                        </div>
                    {% endif %}
                    
                    <br>
                    <div id="divImgLogo"></div>
                </div>

            {% elseif p == 'times' %}

                <div class="col" id="div_str_time">
                    <label for="str_time" class="form-label">Nome do Time</label>
                    <input type="text" class="form-control" id="str_time" name="str_time" value="{{ dados.str_time }}" required>
                </div>

                <div class="col" id="div_id_categoria">
                    <label for="str_categoria" class="form-label">Categoria</label>
                    <select class="form-select" aria-label="Default select example" name="id_categoria" onchange="filtra_campeonatos_multiple(this.value, `{{ campeonatos|json_encode }}`);" required>
                        <option value="">Selecione a Categoria</option>

                        {% for c in categorias %}
                            {% if c.id == dados.id_categoria %}
                                <option value="{{ c.id }}" selected>{{ c.str_categoria }}</option>
                            {% else %}
                                <option value="{{ c.id }}">{{ c.str_categoria }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="col" id="div_multipleSelect" {#style="display: none;"#}>
                    <label for="str_campeonatos" class="form-label">Campeonatos</label>
                    <br>
                    <select class="multipleSelect" multiple name="str_campeonatos" placeholder="Campeonatos" data-search="true" data-silent-initial-value-set="true">
                        {% for c in campeonatos %}
                            <option value="{{ c.id }}">{{ c.str_campeonato }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% if dados.str_logo != '' %}
                    <div id="div_logo_opcao_1">
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label">Logo</label>
                            <input type="hidden" name="str_logo" id="str_logo" value="{{ dados.str_logo }}"></input>
                            
                            <br>
                            
                            <div id="divImgLogo" style="display: inline-block; border: 1px solid black; padding: 2px; border-radius: 5px;"><img src="{{ dados.str_logo }}"></div>
                            <div id="div_span_logo" style="display: inline-block;">
                                <i class="fas fa-trash" id="i_remove_logo" onclick="alteracao_logo()"></i>
                            </div>
                        </div>
                    </div>
                    <div id="div_logo_opcao_2" style="display: none;">
                        <div class="mb-3">
                            <label for="formFileSm" class="form-label">Logo</label>
                            <input class="form-control form-control-sm" id="formFileSm" type="file" name="str_logo" onchange="exibe_logo(event);">
                        </div>
                    </div>
                {% else %}
                    <div class="mb-3">
                        <label for="formFileSm" class="form-label">Logo</label>
                        <input class="form-control form-control-sm" id="formFileSm" type="file" name="str_logo" onchange="exibe_logo(event);">
                    </div>
                {% endif %}
                
                <br>
                <div id="divImgLogo"></div>
            
            {% elseif p == 'confrontos' %}

                <div class="row text-center align-items-stretch">
                    <div class="col-5" id="div_categoria">
                        <label for="id_categoria" class="form-label col-auto">Categoria</label>
                        <br>
                        <select id="select_categoria" class="multipleSelect" name="id_categoria" placeholder="Escolha a Categoria" data-search="true" data-silent-initial-value-set="true" required>
                            <option value=""></option>

                            {% for c in categorias %}
                                {% if c.id == dados.id_categoria %}
                                    <option value="{{ c.id }}" selected>{{ c.str_categoria }}</option>
                                {% else %}
                                    <option value="{{ c.id }}">{{ c.str_categoria }}</option>
                                {% endif %}
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-1 mx-auto" id="div_logo_campeonato"></div>

                    <div class="col-5" id="div_campeonato">
                        <label for="id_campeonato" class="form-label">Campeonato</label>
                        <br>
                        <select id="select_campeonato" class="multipleSelect" name="id_campeonato" placeholder="Escolha o Campeonato" data-search="true" data-silent-initial-value-set="true" required>
                        </select>
                    </div>
                </div>

                <div class="row text-center align-items-stretch" id="row_times">
                    <div class="col-4 mx-auto col-time" id="div_time_casa">
                        <label for="id_time_casa" class="form-label">Time Casa</label>
                        <br>
                        <select id="select_time_casa" class="multipleSelect" name="id_time_casa" placeholder="Escolha o time da casa" data-search="true" data-silent-initial-value-set="true" required>
                        </select>
                    </div>

                    <div class="col-1 mx-auto logo_time" id="logo_time_casa">
                    </div>

                    <div class="col-1 mx-auto" id="div_x">
                        <h1>X</h1>
                    </div>

                    <div class="col-1 mx-auto logo_time" id="logo_time_visitante">
                    </div>

                    <div class="col-4 mx-auto col-time" id="div_time_visitante">
                        <label for="id_time_visitante" class="form-label">Time Visitante</label>
                        <br>
                        <select id="select_time_visitante" class="multipleSelect" name="id_time_visitante" placeholder="Escolha o time visitante" data-search="true" data-silent-initial-value-set="true" required>
                        </select>
                    </div>
                </div>

                <div class="row text-center align-items-stretch">
                    <div class="col-4 mx-auto">
                        <label for="startDate">Data</label>
                        <input id="startDate" class="form-control" type="date" name="dat_data" value="{{ dados.dat_data }}" required/>
                    </div>

                    <div class="col-4 mx-auto cs-form">
                        <label>Hora</label>
                        <input type="time" class="form-control" name="str_hora" value="{{ dados.str_hora }}" required/>
                    </div>
                </div>

            {% endif %}

            <br>
            
            <a class="btn btn-secondary" href="?p={{ p }}">Voltar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
</div>

<script>

    iniciaSelect();
    inicia_funcao_alteracao();

    function iniciaSelect(aux=false) {

        // MODELO 1
        VirtualSelect.init({ 
            ele: '.multipleSelect' 
        });
        
        if ( getURLPar('p') == 'confrontos' ) {
            tratativas_confronto(aux);
        }
    }

    function tratativas_confronto(aux) {
        iniciais_confronto(aux);

        $('#select_categoria').change(function() {
            // Remove a logo do campeonato inicialmente.
            $('#div_logo_campeonato').find('img').remove();

            // Filtra os campeonatos da categoria selecionada.
            filtra_campeonatos($(this).val(), {{ campeonatos | json_encode | raw }});

            // Esconde a div que contém os campos para seleçãod e times, até que seja selecionado um campeonato novamente.
            $('#row_times').attr('hidden', 'true');
        });

        $('#select_campeonato').change(function() {
            // Remove a logo do campeonato inicialmente.
            $('#div_logo_campeonato').find('img').remove();

            // Filtra os times do campeonato selecionado.
            filtra_times($(this).val(), {{ times | json_encode | raw }});

            // Mostra a logo do campeonato.
            mostra_logo_campeonato($(this).val(), {{ campeonatos | json_encode | raw }});

            // Mostra a div que contém os campos para seleção de times, até que seja selecionado um campeonato novamente.
            $('#row_times').removeAttr('hidden');

            if ( $('#select_campeonato').val() == '' ) {
                $('#row_times').attr('hidden');
            }
        });

        $('#select_time_casa').change(function() {
            // Remove a logo do time inicialmente.
            $('#logo_time_casa').find('img').remove();

            // Mostra a logo do time selecionado.
            mostra_logo_time('casa', $(this).val(), {{ times | json_encode | raw }});
        });

        $('#select_time_visitante').change(function() {
            // Remove a logo do time inicialmente.
            $('#logo_time_visitante').find('img').remove();

            // Mostra a logo do time selecionado.
            mostra_logo_time('visitante', $(this).val(), {{ times | json_encode | raw }});
        });
    }

    function iniciais_confronto(aux) {
        if ( aux ) {
            $('#div_logo_campeonato').find('img').remove();

            filtra_times($('#select_campeonato').val(), {{ times | json_encode | raw }});

            // Mostra a logo do campeonato.
            mostra_logo_campeonato($('#select_campeonato').val(), {{ campeonatos | json_encode | raw }});

            // Mostra a div que contém os campos para seleção de times, até que seja selecionado um campeonato novamente.
            $('#row_times').removeAttr('hidden');

            if ( $('#select_campeonato').val() == '' ) {
                $('#row_times').attr('hidden');
            }
        }
    }

    function inicia_funcao_alteracao() {
        if ( getURLPar('p') == 'times' && getURLPar('op') == 'alteracao' ) {
            filtra_campeonatos_alteracao_multiple();
        } else if ( getURLPar('p') == 'confrontos' && getURLPar('op') == 'alteracao' ) {
            filtra_campeonatos_alteracao();
        }
    }

    function alteracao_logo() {
        $('#div_logo_opcao_1').remove();
        $('#div_logo_opcao_2').css('display', 'block');
    }

    // Função que exibe logo na tela de inclusão.
    function exibe_logo(event) {
        const input = event.target;
        const imagemContainer = document.getElementById('divImgLogo');

      // Certifica-se de que um arquivo foi selecionado
        if (input.files && input.files[0]) {
            const leitor = new FileReader();

            leitor.onload = function (e) {
            // Cria um elemento de imagem e define o atributo src para a imagem carregada
                const imagem = document.createElement('img');
                imagem.src = e.target.result;

                // Limpa o conteúdo anterior do contâiner de imagem e adiciona a nova imagem
                imagemContainer.innerHTML = '';
                imagemContainer.appendChild(imagem);
            };

            // Lê o conteúdo do arquivo como uma URL de dados
            leitor.readAsDataURL(input.files[0]);
        }
    }

    function filtra_campeonatos_multiple(id_categoria, campeonatos) {
        var select  = '';
        campeonatos = JSON.parse(campeonatos);

        // MODELO 2
        //$('#multipleSelect').next().remove();

        $('#multipleSelect').remove();

        select += '<select id="multipleSelect" multiple name="str_campeonatos" placeholder="Campeonatos" data-search="true" data-silent-initial-value-set="true">';

        $.each(campeonatos, function(index, camp) {
            if ( camp['id_categoria'] == id_categoria ) {
                select += '<option value="' + camp.id + '">' + camp.str_campeonato + '</option>';
            }
        });

        select += '</select>';

        $('#div_multipleSelect').append(select);

        iniciaSelect();
    }

    function getURLPar(name) {        
        return decodeURI(         
            (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]     
            ); 
    }

    function filtra_campeonatos_alteracao() {
        var select       = '';
        var id_categoria = {{ dados.id_categoria }};
        var id_camp      = {{ dados.id_campeonato }};
        var campeonatos  = {{ campeonatos|json_encode|raw }};

        $('#select_campeonato').remove();

        select += '<select id="select_campeonato" class="multipleSelect" name="id_campeonato" placeholder="Escolha o Campeonato" data-search="true" data-silent-initial-value-set="true" required>';

        $.each(campeonatos, function(index, campeonato) {
            if ( campeonato['id_categoria'] == id_categoria ) {

                if ( campeonato['id'] == id_camp ) {
                    select += '<option value="' + campeonato.id + '" selected>' + campeonato.str_campeonato + '</option>';
                } else {
                    select += '<option value="' + campeonato.id + '">' + campeonato.str_campeonato + '</option>';
                }
            }
        });

        select += '</select>';
        
        $('#div_campeonato').append(select);

        iniciaSelect(1);
    }

    function filtra_campeonatos_alteracao_multiple() {
        var select          = '';
        var id_categoria    = {{ dados.id_categoria }};
        var str_campeonatos = {{ dados.str_campeonatos|json_encode|raw }};
        var campeonatos     = {{ campeonatos|json_encode|raw }};
        str_campeonatos     = str_campeonatos.split(',');
        
        $('.multipleSelect').remove();

        select += '<select class="multipleSelect" multiple name="str_campeonatos" placeholder="Campeonatos" data-search="true" data-silent-initial-value-set="true">';

        $.each(campeonatos, function(index, camp) {
            if ( camp['id_categoria'] == id_categoria ) {

                if ( str_campeonatos.indexOf(String(camp.id)) !== -1 ) {
                    select += '<option value="' + camp.id + '" selected>' + camp.str_campeonato + '</option>';
                } else {
                    select += '<option value="' + camp.id + '">' + camp.str_campeonato + '</option>';
                }
            }
        });

        select += '</select>';

        $('#div_multipleSelect').append(select);

        iniciaSelect();
    }

    //Função para filtrar campeonatos de acordo com a categoria escolhida.
    function filtra_campeonatos(id_categoria, campeonatos) {
        let select = $('#select_campeonato');

        if (select.length) {
            select.remove();
        }

        select = $('<select id="select_campeonato" class="multipleSelect" name="id_campeonato" placeholder="Escolha o Campeonato" data-search="true" data-silent-initial-value-set="true" required>');
        select.append('<option value=""></option>');

        $.each(campeonatos, function(index, camp) {
            if (camp['id_categoria'] == id_categoria) {
                select.append('<option value="' + camp.id + '">' + camp.str_campeonato + '</option>');
            }
        });

        $('#div_campeonato').append(select);

        iniciaSelect();
    }

    //Função para filtrar times de acordo com o campeonato escolhido.
    function filtra_times(id_campeonato, times) {
        let select     = ['', ''];
        let cpos_times = ['casa', 'visitante'];
        let desc_times = ['da Casa', 'Visitante'];

        $('#select_time_casa').remove();
        $('#select_time_visitante').remove();

        $.each(cpos_times, function(i, opc) {
            select[i] += '<select id="select_time_' + opc + '" class="multipleSelect" name="id_time_' + opc + '" placeholder="Escolha o Time ' + desc_times[i] + '" data-search="true" data-silent-initial-value-set="true" required>';
            select[i] += '<option value=""></option>';

            $.each(times, function(index, time) {
                let campeonatos_time = time['str_campeonatos'].split(',');
                
                if ( campeonatos_time.indexOf(id_campeonato.toString()) !== -1 ) {
                    select[i] += '<option value="' + time.id + '">' + time.str_time + '</option>';
                }
            });

            select[i] += '</select>';

            $('#div_time_' + opc).append(select[i]);

            iniciaSelect();
        });
    }

    // Função para mostrar a logo do campeonato selecionado.
    function mostra_logo_campeonato(id_campeonato, campeonatos) {
        if ( id_campeonato > 0 ) {
            //div_logo_campeonato
            let camp_selecionado = campeonatos.filter(function(camp) {
                return camp.id == id_campeonato;
            });

            let div = $('#div_logo_campeonato');
            let img = '<img src="' + camp_selecionado[0]['str_logo'] + '">';
            
            $(div).append(img);
        }
    }

    // Função para mostrar a logo do time selecionado.
    function mostra_logo_time(opc, id_time, times) {
        if ( id_time > 0 ) {
            let time_selecionado = times.filter(function(time) {
                return time.id == id_time;
            });

            let div = $('#logo_time_' + opc);
            let img = '<img src="' + time_selecionado[0]['str_logo'] + '">';
            
            $(div).append(img);
        }
    }
</script>