<style>
    #select_categoria {
        min-width: 100%;
        max-width: 100%;
        margin-left: 2.5%;
    }

    #select_campeonato {
        min-width: 100%;
        max-width: 100%;
        margin-left: 24%;
    }

    #row_times {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    #row_times .multipleSelect {
        width: 100%;
        min-width: 100%;
    }

    #div_x {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #div_x h1 {
        font-size: 50px;
    }

    .logo_time {
        height: 100px;
        padding: 0;
    }

    .logo_time img {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div id="div_formulario_aposta_simples">
    <div class="row text-center align-items-stretch">
        <div class="col-4" id="div_categoria">
            <label for="id_categoria" class="form-label col-auto">Categoria</label>
            <br>
            <select id="select_categoria" class="multipleSelect" name="id_categoria" placeholder="Escolha a Categoria" data-search="true" data-silent-initial-value-set="true">
                <option value=""></option>

                {% for c in categorias %}
                    <option value="{{ c.id }}">{{ c.str_categoria }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-3"></div>

        <div class="col-4" id="div_campeonato">
            <label for="id_campeonato" class="form-label">Campeonato</label>
            <br>
            <select id="select_campeonato" class="multipleSelect" name="id_campeonato" placeholder="Escolha o Campeonato" data-search="true" data-silent-initial-value-set="true">
            </select>
        </div>
    </div>
    <div class="row text-center align-items-stretch" id="row_times" hidden>
        <div class="col-4 mx-auto col-time" id="div_time_casa">
            <label for="id_time_casa" class="form-label">Time Casa</label>
            <br>
            <select id="select_time_casa" class="multipleSelect" name="id_time_casa" placeholder="Escolha o time da casa" data-search="true" data-silent-initial-value-set="true">
            </select>
        </div>

        <div class="col-1 mx-auto logo_time" id="logo_time_casa">
        </div>

        <div class="col-1 mx-auto" id="div_x">
            <h1>X</h1>
        </div>

        <div class="col-1 mx-auto logo_time" id="logo_time_visitante">
        </div>

        <div class="col-4 mx-auto col-time" id="div_time_visitante">
            <label for="id_time_visitante" class="form-label">Time Visitante</label>
            <br>
            <select id="select_time_visitante" class="multipleSelect" name="id_time_visitante" placeholder="Escolha o time visitante" data-search="true" data-silent-initial-value-set="true">
            </select>
        </div>
    </div>
</div>

<script>

    iniciaSelect();

    function iniciaSelect() {

        VirtualSelect.init({ 
            ele: '.multipleSelect' 
        });
        
        $('#select_categoria').change(function() {
            // Filtra os campeonatos da categoria selecionada.
            filtra_campeonatos($(this).val(), {{ campeonatos | json_encode | raw }});

            // Esconde a div que contém os campos para seleçãod e times, até que seja selecionado um campeonato novamente.
            $('#row_times').attr('hidden', 'true');
        });

        $('#select_campeonato').change(function() {
            // Filtra os times do campeonato selecionado.
            filtra_times($(this).val(), {{ times | json_encode | raw }});

            // Esconde a div que contém os campos para seleçãod e times, até que seja selecionado um campeonato novamente.
            $('#row_times').removeAttr('hidden');
        });

        $('#select_time_casa').change(function() {
            // Remove a logo do time inicialmente.
            $('#logo_time_casa').find('img').remove();

            // Mostra a logo do time selecionado.
            mostra_logo_time('casa', $(this).val(), {{ times | json_encode | raw }});
        });

        $('#select_time_visitante').change(function() {
            // Remove a logo do time inicialmente.
            $('#logo_time_visitante').find('img').remove();

            // Mostra a logo do time selecionado.
            mostra_logo_time('visitante', $(this).val(), {{ times | json_encode | raw }});
        });
    }

    //Função para filtrar campeonatos de acordo com a categoria escolhida.
    function filtra_campeonatos(id_categoria, campeonatos) {
        var select  = '';

        $('#select_campeonato').remove();

        select += '<select id="select_campeonato" class="multipleSelect" name="id_campeonato" placeholder="Escolha o Campeonato" data-search="true" data-silent-initial-value-set="true">';
        select += '<option value=""></option>';

        $.each(campeonatos, function(index, camp) {

            if ( camp['id_categoria'] == id_categoria ) {
                select += '<option value="' + camp.id + '">' + camp.str_campeonato + '</option>';
            }
        });

        select += '</select>';

        $('#div_campeonato').append(select);

        iniciaSelect();
    }

    //Função para filtrar times de acordo com o campeonato escolhido.
    async function filtra_times(id_campeonato, times) {
        var select     = ['', ''];
        var cpos_times = ['casa', 'visitante'];
        var desc_times = ['da Casa', 'Visitante'];

        $('#select_time_casa').remove();
        $('#select_time_visitante').remove();

        await $.each(cpos_times, function(i, opc) {
            select[i] += '<select id="select_time_' + opc + '" class="multipleSelect" name="id_time_' + opc + '" placeholder="Escolha o Time ' + desc_times[i] + '" data-search="true" data-silent-initial-value-set="true">';
            select[i] += '<option value=""></option>';

            $.each(times, function(index, time) {
                var campeonatos_time = time['str_campeonatos'].split(',');
                
                if ( campeonatos_time.indexOf(id_campeonato.toString()) !== -1 ) {
                    select[i] += '<option value="' + time.id + '">' + time.str_time + '</option>';
                }
            });

            select[i] += '</select>';

            $('#div_time_' + opc).append(select[i]);
        });

        iniciaSelect();
    }

    // Função para mostrar a logo do time selecionado.
    function mostra_logo_time(opc, id_time, times) {
        if ( id_time > 0 ) {
            var time_selecionado = times.filter(function(time) {
                return time.id == id_time;
            });

            var div = $('#logo_time_' + opc);
            var img = '<img src="' + time_selecionado[0]['str_logo'] + '">';
            
            $(div).append(img);
        }
    }

</script>