<style>
    #divFormulario {
        border-radius: 10px;
        padding: 5px;
        box-shadow: 8px 8px 8px 8px #B9B9B9;
        position: relative;
        margin-top: 5%;
        background-color: #fff;
    }

    label {
        font-weight: bold;
    }
</style>

<div class="container" id="divFormulario">
    <h2 align="center">{{ p|capitalize }} (Inclusão)</h1>

    <form method="post" action="?p={{ p }}&op=salvaInclusao" enctype="multipart/form-data">

        <div class="container">
            <div class="row g-2">
                <div class="col-2 mx-auto">
                    <label for="dat_data" class="form-label">Data</label>
                    <input id="dat_data" class="form-control" name="dat_data" type="date" required/>
                </div>

                <div class="col-2">
                    <label for="flo_valor_entrada" class="form-label">Valor da Aposta R$:</label>
                    <input type="number" class="form-control" id="flo_valor_entrada" step="0.01" name="flo_valor_entrada" required>
                </div>

                <div class="col-2 mx-auto">
                    <label for="flo_odd_total" class="form-label">ODD Total:</label>
                    <input type="number" class="form-control" id="flo_odd_total" step="0.01" name="flo_odd_total" value="0.00" readonly="readonly">
                </div>

                <div class="col">
                    <label for="flo_valor_potencial" class="form-label">Ganhos Potenciais R$:</label>
                    <input type="number" class="form-control" id="flo_valor_potencial" step="0.01" name="flo_valor_potencial" value="0.00" readonly="readonly">
                </div>

                <div class="col-4 mx-auto">
                    <label for="str_tipo" class="form-label">Tipo de Aposta</label>
                    <select class="form-select" aria-label="Default select example" name="str_tipo" onchange="cria_opcao_aposta(this.value);" required>
                        <option value="">Selecione o Tipo de Aposta</option>
                        <option value="S">Aposta Simples</option>
                        <option value="M">Aposta Múltipla</option>
                    </select>
                </div>

                <hr>
                
                <div id="div_aposta_simples" class="col-6 mx-auto text-center align-items-center">
                    <div class="row g-2 align-items-center">
                        <div class="col-5 mx-auto">
                            <label for="id_time_casa" class="form-label">Time da Casa</label>
                            <select class="form-select" aria-label="Default select example" name="id_time_casa" required>
                                <option value="">Time da Casa</option>

                                {% for t in times %}
                                    <option value="{{ t.id }}">{{ t.str_time }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-2 mx-auto">
                            <h1>X</h1>
                        </div>

                        <div class="col-5 mx-auto">
                            <label for="id_time_visitante" class="form-label">Time Visitante</label>
                            <select class="form-select" aria-label="Default select example" name="id_time_visitante" required>
                                <option value="">Time Visitante</option>

                                {% for t in times %}
                                    <option value="{{ t.id }}">{{ t.str_time }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <a class="btn btn-secondary" href="?p=gestao">Voltar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>

    </form>
</div>

<script>
    document.getElementById('dat_data').valueAsDate = new Date();

    function cria_opcao_aposta(opcao) {
        if ( opcao == 'S' ) {
            cria_opcao_aposta_simples();
        } else if ( opcao == 'M' ) {
            cria_opcao_aposta_multipla();
        } else {
            //Fazer remover tudo.
        }
    }

    function cria_opcao_aposta_simples() {
        console.log('Aposta Simples');
    }

    function cria_opcao_aposta_multipla() {
        console.log('Aposta Múltipla');
    }
</script>