<style>

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
    }

    #div_card_gestao {
        background-color: #ffffff;
        border: 2px solid #B9B9B9;
        border-radius: 15px;
        width: 60%;
        margin: 20px auto; /* centraliza o card */
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    hr {
        margin: 15px 0;
        border: 0;
        border-top: 1px solid #B9B9B9;
    }

    #table_dados_gestao {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
    }

    #table_dados_gestao td {
        padding: 10px;
        text-align: center;
    }

    #table_dados_gestao p {
        font-weight: bold;
        margin: 0;
    }

    #table_dados_gestao p span {
        color: #007bff; /* Cor azul para destacar os valores */
    }

    #div_botao_cadastro_gestao {
        text-align: center;
        margin-top: 20px;
    }

    #botao_cadastro_gestao {
        font-weight: bold;
        font-size: 18px;
    }

</style>

<div id="div_card_gestao">
    {% if gestao %}
        <div id="div_dados_gestao">
            <h1>{{ gestao.str_gestao }}</h1>
            <hr>
            <table id="table_dados_gestao">
                <tbody>
                    <tr>
                        <td><p>Data de Início: <span>{{ gestao.dat_inicio|date('d/m/Y') }}</span></p></td>
                        <td>
                            <p>Meta Diária: </p>
                            <p><span>{{ gestao.flo_meta_diaria_porc|number_format(2, ',', '.') }}% (R$ {{ ((gestao.flo_meta_diaria_porc / 100) * gestao.flo_banca_final)|number_format(2, ',', '.') }})</span></p>
                        </td>
                        <td>
                            <p>Stoploss Diário:</p>
                            <p><span>{{ gestao.flo_stoploss_porc|number_format(2, ',', '.') }}% (R$ {{ ((gestao.flo_stoploss_porc / 100) * gestao.flo_banca_final)|number_format(2, ',', '.') }})</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td><p>Banca Inicial: <span>R$ {{ gestao.flo_banca_inicial|number_format(2, ',', '.') }}</span></p></td>
                        <td><p>Banca Atual: <span>R$ {{ gestao.flo_banca_final|number_format(2, ',', '.') }}</span></p></td>
                        <td><p>Lucro / Prejuízo: <span>R$ {{ (gestao.flo_banca_final - gestao.flo_banca_inicial)|number_format(2, ',', '.') }}</span></p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <div id="div_botao_cadastro_gestao">
            <button type="button" id="botao_cadastro_gestao" onclick="window.location='?p={{ p }}&op=inclusao'">Cadastrar Nova Gestão</button>
        </div>
    {% endif %}
</div>