<style>

    body {
        font-family: 'Arial', sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    #div_card_gestao {
        background-color: #ffffff;
        border: 2px solid #B9B9B9;
        border-radius: 15px;
        width: 80%;
        margin: 20px auto;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .dashboard {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
        margin-top: 20px;
    }

    .card {
        background-color: #fff;
        border: 2px solid #B9B9B9;
        border-radius: 8px;
        width: calc(25% - 20px);
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: inline-block;
    }

    .card i {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .card h3 {
        margin: 10px 0;
    }

    .card p {
        margin: 0;
        font-weight: bold;
        color: #007bff;
    }

    #div_lista_apostas {
        margin-top: 20px;
        gap: 10px;
        justify-content: space-around;
        /*border: 1px solid red;*/
        border-radius: 5px;
        width: 100%;
    }

    #icone_informar_resultado {
        font-size: 14px;
        border: 1px solid #5bc0de;
        background-color: #5bc0de;
        color: #ffffff;
        border-radius: 5px;
        padding: 3px 6px 3px 6px;
    }

    #icone_informar_resultado:hover {
        background-color: #31b0d5;
        border-color: #31b0d5;
        cursor: pointer;
    }

    #icone_editar {
        font-size: 14px;
        border: 1px solid #f0ad4e;
        background-color: #f0ad4e;
        color: #ffffff;
        border-radius: 5px;
        padding: 3px 6px 3px 6px;
    }

    #icone_editar:hover {
        background-color: #ec971f;
        border-color: #ec971f;
        cursor: pointer;
    }

    #icone_deletar {
        font-size: 14px;
        border: 1px solid #d9534f;
        background-color: #d9534f;
        color: #ffffff;
        border-radius: 5px;
        padding: 3px 6px 3px 6px;
    }

    #icone_deletar:hover {
        background-color: #c9302c;
        border-color: #c9302c;
        cursor: pointer;
    }

    #div_lista_apostas table th, #div_lista_apostas table td {
        padding: 1px;
    }

    #div_lista_entradas_encerradas, #div_lista_entradas_pendentes {
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
    }

    #table_lista_entradas_encerradas>thead>tr:nth-child(1)>th {
        background-color: #98c0f6;
    }

    #table_lista_entradas_encerradas>thead>tr:nth-child(2)>th {
        background-color: #005187;
        color: #ffffff;
    }

    .table-striped>tbody>tr:nth-child(odd)>td {
        background-color: #dceafc;
    }

    #table_lista_entradas_pendentes>thead>tr:nth-child(1)>th {
        background-color: #a9c2ac;
    }

    #table_lista_entradas_pendentes>thead>tr:nth-child(2)>th {
        background-color: #17301a;
        color: #ffffff;
    }

    #botao_lista_entradas_resolvidas {
        background-color: #0275d8;
        color: #ffffff;
    }

    #botao_lista_entradas_resolvidas:hover {
        background-color: #035ca9;
    }

    #div_botao_lista_entradas_resolvidas {
        margin-bottom: 10px;
    }

    .btn {
        font-weight: bold;
    }

    .dataTables_filter, .dataTables_length, .dataTables_paginate, .dataTables_info {
        margin-bottom: 5px;
        font-size: 14px;
    }
</style>

<div id="div_card_gestao">
    {% if gestao %}
        <div id="div_dados_gestao" class="dashboard">
            <div class="card">
                <i class="far fa-calendar-alt"></i>
                <h3>Data de Início</h3>
                <p>{{ gestao.dat_inicio|date('d/m/Y') }}</p>
            </div>

            <div class="card">
                <i class="fas fa-money-bill-wave"></i>
                <h3>Banca Inicial / Atual</h3>
                <p>R$ {{ gestao.flo_banca_inicial|number_format(2, ',', '.') }} / R$ {{ gestao.flo_banca_final|number_format(2, ',', '.') }}</p>
            </div>

            <div class="card">
                <i class="fas fa-chart-line"></i>
                <h3>Stoploss Diário</h3>
                <p>{{ gestao.flo_stoploss_porc|number_format(2, ',', '.') }}% (R$ {{ gestao.flo_stoploss_val|number_format(2, ',', '.') }})</p>
            </div>

            <div class="card">
                <i class="fas fa-bullseye"></i>
                <h3>Meta Diária</h3>
                <p>{{ gestao.flo_meta_diaria_porc|number_format(2, ',', '.') }}% (R$ {{ gestao.flo_meta_diaria_val|number_format(2, ',', '.') }})</p>
            </div>
        </div>

        <div id="div_lista_apostas">
            <div id="div_lista_entradas_encerradas">
                <table id="table_lista_entradas_encerradas" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="7">Apostas Resolvidas</th>
                        </tr>
                        <tr>
                            <th width="10%">Data</th>
                            <th width="10%">Tipo</th>
                            <th width="10%">Odd</th>
                            <th width="15%">Investido</th>
                            <th width="15%">Retorno</th>
                            <th width="10%">Resultado</th>
                            <th width="20%">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12/03/2024</td>
                            <td>Simples</td>
                            <td>2.20</td>
                            <td>R$ 10,00</td>
                            <td>R$ 22,00</td>
                            <td>Ganho</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square" id="icone_editar" onclick=""></i>
                                <i class="fa-solid fa-trash" id="icone_deletar" onclick=""></i>
                            </td>
                        </tr>
                        <tr>
                            <td>11/03/2024</td>
                            <td>Múltipla</td>
                            <td>5.00</td>
                            <td>R$ 5,00</td>
                            <td>R$ 10,00</td>
                            <td>Cash Out</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square" id="icone_editar" onclick=""></i>
                                <i class="fa-solid fa-trash" id="icone_deletar" onclick=""></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div id="div_lista_entradas_pendentes">
                <table id="table_lista_entradas_pendentes" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="7">Apostas Abertas</th>
                        </tr>
                        <tr>
                            <th width="10%">Data</th>
                            <th width="10%">Tipo</th>
                            <th width="10%">Odd</th>
                            <th width="15%">Investido</th>
                            <th width="15%">Retorno</th>
                            <th width="10%">Resultado</th>
                            <th width="20%">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12/03/2024</td>
                            <td>Simples</td>
                            <td>2.20</td>
                            <td>R$ 10,00</td>
                            <td>R$ 22,00</td>
                            <td></td>
                            <td>
                                <i class="fas fa-file-invoice-dollar" id="icone_informar_resultado" onclick=""></i>
                                <i class="fa-solid fa-pen-to-square" id="icone_editar" onclick=""></i>
                                <i class="fa-solid fa-trash" id="icone_deletar" onclick=""></i>
                            </td>
                        </tr>
                        <tr>
                            <td>11/03/2024</td>
                            <td>Múltipla</td>
                            <td>5.00</td>
                            <td>R$ 5,00</td>
                            <td>R$ 25,00</td>
                            <td></td>
                            <td>
                                <i class="fas fa-file-invoice-dollar" id="icone_informar_resultado" onclick=""></i>
                                <i class="fa-solid fa-pen-to-square" id="icone_editar" onclick=""></i>
                                <i class="fa-solid fa-trash" id="icone_deletar" onclick=""></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div id="div_botao_cadastro_entrada" class="d-grid col-2 mx-auto">
                    <button type="button" class="btn btn-success" id="botao_cadastro_entrada" onclick="window.location='?p=apostas&op=inclusao'">Nova Aposta</button>
                </div>
            </div>
        </div>
    {% else %}
        <div id="div_botao_cadastro_gestao" class="d-grid mx-auto">
            <button type="button" id="botao_cadastro_gestao" class="btn btn-primary" onclick="window.location='?p={{ p }}&op=inclusao'">Cadastrar Nova Gestão</button>
        </div>
    {% endif %}
</div>

<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "language": {
                "url": "vendor/datatables.net/Portuguese-Brasil.json"
            }
        });
    });
</script>